<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<title>Getting Started: Serving Web Content</title>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->
<!--<p style="color: black" th:text="'Hello, ' + ${name} + '!'" />-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/style.css" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
<!-- Profile Page , Modal -->
<div class="page-header"></div>
<div class="profile-container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://image.ibb.co/jxGOma/image.jpg" class="img-responsive" width="100" height="100" />
        </div>
        <div class="col-md-8 profile-info">
            <h4 class="user-name" th:text="'Hello, ' + ${name} + '!'" />
            <h5 class="user-mail"><i>email@dmain.com</i></h5>
            <h5 class="user-company">SYRIAN ARTS</h5>
        </div>
    </div>
    <br/>
    <div class="row more-info">
        <div class="col-md-6">
            <h5><b>Work</b></h5>
            <p>Full-Stack Developer</p>
        </div>
        <div class="col-md-6">
            <h5><b>Made In</b></h5>
            <p>Syrian Arab Republic</p>
        </div>
    </div>
    <div class="row more-info">
        <div class="col-md-6">
            <h5><b>Relationship</b></h5>
            <p>Single :(</p>
            <!-- </3 :( -->
        </div>
        <div class="col-md-6">
            <h5><b>Phone Number</b></h5>
            <p>+124 1234 52 145</p>
        </div>
    </div>
    <br>
    <div class="row more-info">
        <div class="col-md-6">
            <h5><b>Relationship</b></h5>
            <p>Single :(</p>
            <!-- </3 :( -->
        </div>
        <div class="col-md-6">
            <h5><b>Phone Number</b></h5>
            <p>+124 1234 52 145</p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="todo-links"><a><i class="fa fa-pencil-square-o"></i> Edit Info</a>
        </div>
        <div class="todo-links"><a><i class="fa fa-frown-o"></i> Logout</a>
        </div>

    </div>
    <br/><br/>
    <p class="text-center">Created By <i>Syrian Arts</i></p>
</div>
</body>
</html>